@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Sonsie+One&display=swap');

/*
declaracion de fuentes

.sonsie-one-regular {
  font-family: "Sonsie One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

Paleta de colores
#ff9b9b
#fef3e2
lightcoral
white

*/

/* Configuracion comun para todas las paginas*/

.mi-bg {
    background-color: #ff9b9b;
    font-weight: bolder;
}

main {
    background-color: #FEF3E2;
}

/* Configuracion pagina INDEX.HTML */

.Bienvenida {
    text-align: center;
    padding-top: 0.3125rem;
}

.Bienvenida h1 {
    font-family: "Sonsie One";
    font-size: 3rem;
    color:darkgray;
}

.Bienvenida h2 {
    font-family: "Fugaz One";
    color: darkgray;
}

.Bienvenida h3 {
    font-family: "Fugaz One";
    color: darkgray;
}

.ContenedorCarrusel {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". carrusel .";
}

.mi-carrusel {
    grid-area: carrusel;
}

.PreTitulo {
    color: lightcoral;
    font-weight: bolder;
    font-size: 24px;
}

.PieDePagina h2 {
    text-align: center;
    color: lightcoral;
    font-weight: bolder;
}

.PieDePagina h3 {
    text-align: center;
    color: lightcoral;
    font-weight: bolder;
}

/* Configuracion pagina CONSULTORIOS.HTML */

.FotosConsultorios h3 {
    color: lightcoral;
    font-weight: bolder;
}

.Ubicacion {
    height: 5rem;
    width: 7.5rem;
}

.NumeroGrande {
    font-size: 3rem;
    font-weight: bolder;

}

.ConsultoriosContainer {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.ConsultoriosContainer div {
    height: 18.75rem;
    width: 15.625rem;
    background-color: white;
    border-radius: 10px;
    align-content: center;
    justify-items: center;
}


.Consultorios img {
    border-radius: 50%;
    padding: 1.25rem;
    filter: grayscale(1);
}

.Consultorios img:hover {
    border-radius: 10%;
    filter: drop-shadow(2px 2px 10px lightcoral);

}

.Caballito {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr) 1.25rem;
    grid-template-rows: 50px repeat(8, 6.25rem) 1.25rem;
}

.Caballito .ConsultoriosLateral {

    grid-column: 1/4;
    grid-row: 1 / 11;
    width: 100%;
    overflow: hidden;
    order: 1;
}

.Caballito h3 {
    font-size: 1.875rem;
    grid-column: 2/7;
    grid-row: 1/2;
    order: 2;
}

.Caballito .ConsultoriosDiasHorarios {
    grid-column: 2/6;
    grid-row: 2/3;
    order: 3;
}

.Caballito .Consultorios {
    grid-column: 2/7;
    grid-row: 3/7;
    order: 4;
}

.Caballito iframe {
    border-radius: 2%;
    width: 100%;
    height: 100%;
    grid-column: 2/7;
    grid-row: 7/10;
    order: 5;
}

.Palermo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr) 1.25rem;
    grid-template-rows: 3.125rem repeat(8, 6.25rem) 1.25rem;
}

.Palermo .ConsultoriosLateral {
    grid-column: 1/4;
    grid-row: 1 / 11;
    width: 100%;
    overflow: hidden;
    order: 1;
}

.Palermo h3 {
    font-size: 1.875rem;
    grid-column: 2/7;
    grid-row: 1/2;
    order: 2;
}

.Palermo .ConsultoriosDiasHorarios {
    grid-column: 2/6;
    grid-row: 2/3;
    order: 3;
}

.Palermo .Consultorios {
    grid-column: 2/7;
    grid-row: 3/7;
    order: 4;
}

.Palermo iframe {
    border-radius: 2%;
    width: 100%;
    height: 100%;
    grid-column: 2/7;
    grid-row: 7/10;
    order: 5;
}

.Olivos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr) 1.25rem;
    grid-template-rows: 3.125rem repeat(8, 6.25rem) 1.25rem;
}

.Olivos .ConsultoriosLateral {
    grid-column: 1/4;
    grid-row: 1 / 11;
    width: 100%;
    overflow: hidden;
    order: 1;
}

.Olivos h3 {
    font-size: 1.875rem;
    grid-column: 2/7;
    grid-row: 1/2;
    order: 2;
}

.Olivos .ConsultoriosDiasHorarios {
    grid-column: 2/6;
    grid-row: 2/3;
    order: 3;
}

.Olivos .Consultorios {
    grid-column: 2/7;
    grid-row: 3/7;
    order: 4;
}

.Olivos iframe {
    border-radius: 2%;
    width: 100%;
    height: 100%;
    grid-column: 2/7;
    grid-row: 7/10;
    order: 5;
}

/* Configuracion pagina NOSOTROS.HTML */

.TituloNosotros {
    text-align: center;
    padding-top: 5%;
    font-family:"Fugaz One";
    color: darkgray;
}

.NosotrosContainer {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.NosotrosContainer h3 {
    text-decoration: underline;
    font-style: italic;
}


.NosotrosContainer h5 {
    color: lightcoral;
    font-weight: bolder;
}

.NosotrosContainer article {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.NosotrosContainer img {
    border-radius: 5%;
}

.NosotrosContainer ul {
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 5%;
}

.NumerosContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.NumerosContainer div {
    height: 18.75rem;
    width: 21.875rem;
    background-color: white;
    border-radius: 0.625rem;
    align-content: center;
    justify-items: center;
}

@media(max-width: 768px) {
    .NosotrosContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
    .NumerosContainer {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}
    .SectionNC{
        display: flex;
        justify-content: center;
    }
}



/* Configuracion de la pagina SERVICIOS.HTML */

.ServiciosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "depilacion mesoterapia lfacial"
        "botox masajes nutri";
    gap: 1.25rem;
    margin-left: 5%;
    margin-right: 5%;
}

.ServiciosContainer div:first-child {
    grid-area: depilacion;
}

.ServiciosContainer div:nth-child(2) {
    grid-area: mesoterapia;
}

.ServiciosContainer div:nth-child(3) {
    grid-area: lfacial;
}

.ServiciosContainer div:nth-child(4) {
    grid-area: botox;
}

.ServiciosContainer div:nth-child(5) {
    grid-area: masajes;
}

.ServiciosContainer div:nth-child(6) {
    grid-area: nutri;
}

.ServiciosContainer div {
    justify-items: center;
    height: auto;
    border-radius: 5%;
}

.ServiciosContainer article {
    padding: 5% 5%;
}

.ServiciosContainer div img {
    border-radius: 10%;
    padding: 0.625rem 0.625rem;
}


@media(max-width:768px) {
    .ServiciosContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}
}

@media(max-width:320px){
    .Bienvenida h1 {
    font-family: "Sonsie One";
    font-size: 1.875rem;
    color:darkgray;
}
}


/* Configuracion de la pagina CONTACTO.HTML */

.ContactoTitulo {
    text-align: center;
}

.ContactoTitulo h1{
    font-family:"Sonsie One" ;
    color: darkgray;
}

.ContactoTitulo h3{
    font-family:"Fugaz One" ;
    color: darkgray;
}

.ContactoDivSucTrat {
    display: flex;
    gap: 1%;
}

.ContactoDivSucTrat div {
    width: 50%;
}

.BotonEnviar {
    background-color: #ff9b9b;
}

.BotonEnviar:hover {
    filter: drop-shadow(2px 2px 10px lightcoral);
}

.DivBotonEnviar {
    display: flex;
    justify-content: center;
}

/* FOOTER PARA TODO EL SITIO */
footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

footer p {
    color: white;
}